<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootfirstdemo.mapper.UserMapper" >

    <resultMap id="BaseResultMap" type="com.example.springbootfirstdemo.bean.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="userName" jdbcType="VARCHAR" />
        <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />

    </resultMap>

    <sql id="Base_Column_List" >
        id, username, age,pass_word
    </sql>

    <select id="getUserList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user
    </select>

    <select id="getUserById" parameterType="integer" resultType="com.example.springbootfirstdemo.bean.User">
        select * from tb_user where id = #{id}
    </select>



    <delete id="delete" parameterType="java.lang.Integer" >
        DELETE FROM
        tb_user
        WHERE
        id = #{id}
    </delete>


    <insert id="testKey" parameterType="java.util.Map">

        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO
        tb_user
        (username,age,pass_word)
        VALUES
        (#{userName}, #{age},#{passWord})

    </insert>

    <select id="getUser" parameterType="map"  resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user where userName = #{userName} and pass_word = #{passWord}
    </select>

</mapper>
